body {
  font-family: Arial, sans-serif;
  background: #f2d6de;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.site-title {
  font-size: 32px;
  margin-bottom: 5px;
}

.site-subtitle {
  font-size: 14px;
  margin-bottom: 20px;
}

.book {
  width: 360px;
  margin: 0 auto;
  background: transparent;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

/* CAPA */
.cover {
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    135deg,
    #0f2027,
    #203a43,
    #2c5364
  );

  border-radius: 16px;
}

.cover-title {
  font-family: 'Pacifico', cursive;
  font-size: 68px;
  color: white;
  letter-spacing: 2px;
}

/* LIVRO ABERTO */
.spread {
  display: flex;
  gap: 16px;
}

.page-left,
.page-right {
  width: 50%;
  background: white;
  padding: 18px;
  border-radius: 12px;
  text-align: left;
}

.page-left h2 {
  font-size: 18px;
  margin-bottom: 12px;
}

/* PROJETOS */
.page img {
  width: 100%;
  border-radius: 12px;
}

.page p {
  margin-top: 10px;
  font-size: 14px;
}

/* CONTROLES */
.controls {
  margin-top: 15px;
}

button {
  padding: 8px 18px;
  margin: 5px;
  border: none;
  background: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
